<div class="container-fluid py-5 bg-white">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Education</h2>
                        <p>
                            My entire career and formal or informal learning has been geared towards becoming and
                            improving as a software developer.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="assets/images/study1.svg" class="card-img-top" alt="...">
                            <div class="card-body title">
                                <h6 class="card-title">Tecnico en Informatica, CBTa #147</h6>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-muted">The technical world, hardware, and computer fundamentals
                                    as
                                    principles of networks and programming were my first approach to being a software
                                    developer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="assets/images/study2.svg" class="card-img-top" alt="...">
                            <div class="card-body title">
                                <h6 class="card-title">Ingeniero en Sistemas Computacionales, Instituto Tecnologico de
                                    Delicias</h6>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-muted">With more advanced subjects in software development,
                                    methodologies,
                                    and server learning, being a software developer would be my career.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="assets/images/self-study.svg" class="card-img-top" alt="...">
                            <div class="card-body title">
                                <h6 class="card-title">Self Learning</h6>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-muted">Self-taught and faithful believer that learning depends
                                    on oneself.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>