@import "./../../../../theme/color";
.navbar-inverse {
    background-color: $white !important;
    .navbar-brand {
        color: $primary;
    }

    .nav-link {
        color: rgb(201, 201, 201);
        padding-left: 5px;
    }
    .active {
        //background-color: $primary;
        color: $primary;
    }

    .btn-menu {
        background-color: $white;
        color: $primary;
        border: none;
        .navbar-toggler-icon {
            color: $primary;
        }
    }
}
