@import "./../../../../theme/color";
.navbar-inverse {
    background-color: $white !important;
    .navbar-brand,
    .nav-link {
        color: $primary;
    }
    .active {
        background-color: $primary;
        color: $white;
        border-radius: 40px;
    }

    .btn-menu {
        background-color: $white;
        color: $primary;
        border: none;
        .navbar-toggler-icon {
            color: $primary;
        }
    }
}
