<div class="container-fluid py-5 bg-white">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Current Learning</h2>
                        <p>
                            I like to divide my learning path into 3 steps.
                        </p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                Study topics that I already know but have been forgetting
                            </div>
                            <div class="card-body">
                                Algorithms and data structures are topics I'm studying to be able to provide more
                                efficient solutions in code.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="card">
                            <div class="card-header">
                                Study programming languages ​​or frameworks that are on demand
                            </div>
                            <div class="card-body">
                                Angular is one of the more powerful skills that I have, but <a
                                    href="https://es.reactjs.org/">ReactJs</a> and <a
                                    href="https://es.redux.js.org/">Redux</a> will help me to get another perspective
                                and to have more tools to build amazing stuff.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="card">
                            <div class="card-header">
                                Study topics that are not programming but add value to my work
                            </div>
                            <div class="card-body">
                                Computing cloud services are one of the most importan topics on tech world and learn <a
                                    href="https://azure.microsoft.com/">Azure</a> will help me to improve my job.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>