<div class="container-fluid py-5 bg-white">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>What I do?</h2>
                        <p>
                            Learning new technologies, adapting to work needs, and providing solutions are my daily
                            goals.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-info">
                            <div class="card-body">
                                <h4 class="card-title text-center">
                                    <fa-icon class="icon" [icon]="icons.frontend"></fa-icon>
                                </h4>
                                <h3 class="card-title text-primary text-center">Front-End</h3>
                            </div>
                            <div class="card-body card-body-text">
                                <p class="card-text">
                                    Design, organize and build user-friendly applications using technologies like
                                    Angular or ReactJs.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-info">
                            <div class="card-body">
                                <h4 class="card-title text-center">
                                    <fa-icon class="icon" [icon]="icons.backend"></fa-icon>
                                </h4>
                                <h3 class="card-title text-primary text-center">Back-End</h3>
                            </div>
                            <div class="card-body card-body-text">
                                <p class="card-text">
                                    Every client-server application must have the best architecture and best practices
                                    in the server to provide the user with the best experience. All of this is possible
                                    thanks to technologies such as .NET or NodeJs.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-info">
                            <div class="card-body">
                                <h4 class="card-title text-center">
                                    <fa-icon class="icon" [icon]="icons.database"></fa-icon>
                                </h4>
                                <h3 class="card-title text-primary text-center">
                                    Databases
                                </h3>
                            </div>
                            <div class="card-body card-body-text">
                                <p class="card-text">
                                    The organization, design, and structure of a database are some of the fundamental
                                    parts for the stability, scalability, and performance of an application. Experience
                                    in technologies such as Microsoft SQL Server, MySql, and PostgreSQL.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>