<div class="container-fluid py-5 bg-white">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>What I do?</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aut quas iste ea facere
                            sapiente vitae quos ullam temporibus, tempore aliquam architecto at quam delectus, atque
                            officiis assumenda accusantium. Odit?
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-primary text-center">Front-End</h3>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente necessitatibus
                                    harum suscipit saepe beatae quo officia dicta, sequi iusto tenetur architecto nam
                                    alias dolor id dolorem quam, voluptas voluptatem soluta.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-primary text-center">Back-End</h3>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente necessitatibus
                                    harum suscipit saepe beatae quo officia dicta, sequi iusto tenetur architecto nam
                                    alias dolor id dolorem quam, voluptas voluptatem soluta.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-primary text-center">
                                    Databases <br>
                                    <i class="bi bi-stack icon"></i>
                                </h3>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente necessitatibus
                                    harum suscipit saepe beatae quo officia dicta, sequi iusto tenetur architecto nam
                                    alias dolor id dolorem quam, voluptas voluptatem soluta.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>