.footer {
    height: 250px;
    margin-top: 5rem;
    .gray-text {
        color: rgb(128, 128, 128);
    }
    .icon-container-col {
        width: 5px;
        text-align: center;
    }

    @media (max-width: 576px) {
        margin-top: 2rem;
    }
}
