<div class="container pt-5">
    <div class="row">
        <div class="col-12">
            <h2>Who Am I?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="assets/images/coder.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h3>I'm a software engineer</h3>
                <p>
                    Who loves writing code. I have been obsessed with the idea of using software
                    to solve practical problems. Even when I leave the office, I tend to continue writing code at the
                    house. I believe in the power of programming to transform and improve the lives of people around the
                    world.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h3>I'm a constant learner</h3>
                <p>
                    Who lives learning new technologies, best practices, new tools but also about life. working with
                    other people, learning about other ways of thinking, and creating team solutions are some of the
                    best things about my job.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/coworkers.svg" class="img-fluid" alt="">
        </div>
    </div>
</div>