<div class="container-fluid py-5 bg-white">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Expirience</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat iure dignissimos, id
                            obcaecati cum vitae eligendi quasi ipsa vel doloremque praesentium consequuntur eveniet
                            tempora laboriosam reprehenderit illo, quisquam nemo mollitia?
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-timeline">
                            <a href="#" appStopPropagation class="timeline">
                                <div class="timeline-icon">
                                    <fa-icon [icon]="icons.globe"></fa-icon>
                                </div>
                                <div class="timeline-content">
                                    <div class="d-flex align-items-center">
                                        <h3 class="title">Software Developer</h3>
                                    </div>
                                    <p class="description">
                                        Creating custom solutions for clients and support to legacy applications
                                        using .NET and Microsoft SQL Server.
                                    </p>
                                    <small class="text-muted">Syseti, Oct 2012
                                        - Jan 2013</small>
                                </div>
                            </a>
                            <a href="#" appStopPropagation class="timeline">
                                <div class="timeline-icon">
                                    <fa-icon [icon]="icons.rocket"></fa-icon>
                                </div>
                                <div class="timeline-content">
                                    <h3 class="title">Full Stack Developer</h3>
                                    <p class="description">
                                        Software developer creating custom solutions and responsable for an
                                        e-invoicing application. Always working on
                                        scrum teams. Responsible for creating and posting software patches and
                                        alerts to the customer web site.
                                        Coordinate the packaging and delivery of new software to manufacturing.
                                    </p>
                                    <small class="text-muted">Servicios de Programación de Chihuahua, Chihuahua,
                                        Chihuahua, Feb 2013 - Dec 2016</small>
                                </div>
                            </a>
                            <a href="#" appStopPropagation class="timeline">
                                <div class="timeline-icon">
                                    <fa-icon [icon]="icons.briefcase"></fa-icon>
                                </div>
                                <div class="timeline-content">
                                    <h3 class="title">.Net Developer, Angular Developer</h3>
                                    <p class="description">
                                        Improve and maintenance of legacy applications using .NET and Angular,
                                        always
                                        orientated to create and support custom solutions
                                    </p>
                                    <small class="text-muted">Gamma Partners, Chihuahua, Chihuahua, Jan 2017 - May
                                        2019</small>
                                </div>
                            </a>
                            <a href="#" appStopPropagation class="timeline">
                                <div class="timeline-icon">
                                    <fa-icon [icon]="icons.mobile"></fa-icon>
                                </div>
                                <div class="timeline-content">
                                    <h3 class="title">Lead Software Engineer</h3>
                                    <p class="description">
                                        Designed, supported, and improved a multi-user application hosted in Azure
                                        Cloud using Angular, NodeJs + SailsJs, and PostgreSQL.
                                    </p>
                                    <small class="text-muted">PK, Chihuahua, Chihuahua, May 2019</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>