<div class="container-fluid py-5 bg-white">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Expirience</h2>
                        <p>
                            Every step in my career has been to learn and improve as a professional even when the path
                            has not allowed me to learn as much as I want.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="timeline">
                            <li *ngFor="let job of jobsHistory; let i = index;"
                                [ngClass]="{'timeline-inverted': i % 2}">
                                <div class="timeline-badge primary">
                                    <fa-icon [icon]="job.icon"></fa-icon>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">{{job.title}}</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>{{job.description}}</p>
                                        <small class="text-muted">{{job.company}}, {{job.period}}</small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>